
<h1>Hi, <%= @user.first_name %> <%= @user.last_name %>, </h1>
<p>
  Congratulation, you recently made a purchase on <%= @shop.shopify_domain %> and you earned <%= @points %> points 
  on your last order and now have <%= @user.points %> points!
</p>
